body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}


.header {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 10px;
}

.header a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.header a:hover {
    color: yellow;
}

.about {
    text-align: center;
    background-color: #eee;
    margin: 10px;
    padding: 10px;
}

.banner {
    width: 100%;
    height: 250px;
}

.product-preview {
    text-align: center;
    background-color: #fff5cc;
    margin: 10px;
    padding: 15px;
}

.btn {
    background-color: black;
    color: yellow;
    padding: 5px 10px;
    text-decoration: none;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.product-box {
    background-color: #d9f0ff;

    border: 1px solid black;
    margin: 10px;
    padding: 10px;

    text-align: center;
}

.product-box img {
    width: 200px;

    height: 120px;
}


.contact-box {
    background-color: #ffe6e6;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
